<button class="m-4 p-2" (click)="onAddCountry()" mat-flat-button color="primary">Add Country</button>

<br />

<div class="m-2 p-2 table-container">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
    </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container *ngFor="let item of displayedColumns; let i = index" [matColumnDef]="displayedColumns[i]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ displayedColumnsNames[i] }}</th>
            <ng-container *ngIf="displayedColumnsNames[i] !== 'Edit' && displayedColumnsNames[i] !== 'Delete'">
                <td mat-cell *matCellDef="let element"> {{element[displayedColumns[i]]}} </td>
            </ng-container>
    
            <ng-container *ngIf="displayedColumnsNames[i] === 'Edit'">
                <td mat-cell *matCellDef="let element"> <a class="m-2" [routerLink]="[createUpdateLink]" [queryParams]="element" mat-flat-button color="primary">{{element[displayedColumns[i]]}}</a> </td>
            </ng-container>
    
            <ng-container *ngIf="displayedColumnsNames[i] === 'Delete'">
                <td mat-cell *matCellDef="let element; let j = index;"> <button class="m-2 p-1" (click)="onDelete(element, j)" mat-flat-button color="accent">{{element[displayedColumns[i]]}}</button> </td>
            </ng-container>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="pageSizes"></mat-paginator>
      </div>
</div>
  