<mat-card class="form-card">
    <form (ngSubmit)="onSubmit()" #countryForm="ngForm">

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="code">Code</mat-label>
            <input matInput type="text" class="form-control" id="code" maxlength="3"
            required
            [(ngModel)]="model.code" name="code"
            #code="ngModel">
            <mat-error [hidden]="code.valid || code.pristine"
            class="alert alert-danger">
                Code is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="name">Name</mat-label>
            <input matInput type="text" class="form-control" id="name" maxlength="52"
            required
            [(ngModel)]="model.name" name="name"
            #name="ngModel">
            <mat-error [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
                Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="continent">Continent</mat-label>
            <mat-select class="form-control" id="continent"
            required
            [(ngModel)]="model.continent" name="continent"
            #continent="ngModel">
                <mat-option *ngFor="let c of continentNames" [value]="c">{{ c }}</mat-option>
            </mat-select>
            <mat-error [hidden]="continent.valid || continent.pristine"
            class="alert alert-danger">
                Continent is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="region">Region</mat-label>
            <input matInput type="text" class="form-control" id="region" maxlength="26"
            required
            [(ngModel)]="model.region" name="region"
            #region="ngModel">
            <mat-error [hidden]="region.valid || region.pristine"
            class="alert alert-danger">
                Region is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="surfaceArea">SurfaceArea</mat-label>
            <input matInput type="number" class="form-control" id="surfaceArea" min="-1000" max="9999999999"
            (change)= "model.surfaceArea < -1000 ? model.surfaceArea = -1000 : model.surfaceArea; model.surfaceArea > 9999999999 ? model.surfaceArea = 9999999999 : model.surfaceArea;"
            required
            [(ngModel)]="model.surfaceArea" name="surfaceArea"
            #surfaceArea="ngModel">
            <mat-error [hidden]="surfaceArea.valid || surfaceArea.pristine"
            class="alert alert-danger">
                SurfaceArea is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="population">Population</mat-label>
            <input matInput type="number" class="form-control" id="population" min="1" pattern="\d*"
            (change)="model.population < 1 || !population.valid ? model.population = 1 : model.population"
            required
            [(ngModel)]="model.population" name="population"
            #population="ngModel">
            <mat-error [hidden]="population.valid || population.pristine"
            class="alert alert-danger">
                Population is required and should be an integer
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="localName">LocalName</mat-label>
            <input matInput type="text" class="form-control" id="localName" maxlength="45"
            required
            [(ngModel)]="model.localName" name="localName"
            #localName="ngModel">
            <mat-error [hidden]="localName.valid || localName.pristine"
            class="alert alert-danger">
                LocalName is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="governmentForm">GovernmentForm</mat-label>
            <input matInput type="text" class="form-control" id="governmentForm" maxlength="45"
            required
            [(ngModel)]="model.governmentForm" name="governmentForm"
            #governmentForm="ngModel">
            <mat-error [hidden]="governmentForm.valid || governmentForm.pristine"
            class="alert alert-danger">
                GovernmentForm is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="code2">Code2</mat-label>
            <input matInput type="text" class="form-control" id="code2" maxlength="2"
            required
            [(ngModel)]="model.code2" name="code2"
            #code2="ngModel">
            <mat-error [hidden]="code2.valid || code2.pristine"
            class="alert alert-danger">
                Code2 is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="indepYear">Indep Year</mat-label>
            <input matInput type="number" class="form-control" id="indepYear" min="-5000"
            (change)="model.indepYear < -5000 ? model.indepYear = 0 : model.indepYear"
            [(ngModel)]="model.indepYear" name="indepYear"
            #population="ngModel">
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="lifeExpectancy">Life Expectancy</mat-label>
            <input matInput type="number" class="form-control" id="lifeExpectancy" min="0"
            (change)="model.lifeExpectancy < 0 ? model.lifeExpectancy = 80 : model.lifeExpectancy"
            [(ngModel)]="model.lifeExpectancy" name="lifeExpectancy"
            #lifeExpectancy="ngModel">
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="gNP">GNP</mat-label>
            <input matInput type="number" class="form-control" id="gNP" min="0"
            (change)="model.gNP < 0 ? model.gNP = 0 : model.gNP"
            [(ngModel)]="model.gNP" name="gNP"
            #gNP="ngModel">
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="gNPOld">GNP Old</mat-label>
            <input matInput type="number" class="form-control" id="gNPOld" min="0"
            (change)="model.gNPOld < 0 ? model.gNPOld = 0 : model.gNPOld"
            [(ngModel)]="model.gNPOld" name="gNPOld"
            #gNPOld="ngModel">
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="headOfState">Head Of State</mat-label>
            <input matInput type="text" class="form-control" id="headOfState" maxlength="60"
            [(ngModel)]="model.headOfState" name="headOfState"
            #headOfState="ngModel">
        </mat-form-field>

        <mat-form-field class="mr-3 mb-5" appearance="fill">
            <mat-label for="capital">Capital</mat-label>
            <input matInput type="number" class="form-control" id="capital" min="1" step="1" pattern="\d*"
            (change)="model.capital < 1 || !capital.valid ? model.capital = 1 : model.capital"
            [(ngModel)]="model.capital" name="capital"
            #capital="ngModel">
        </mat-form-field>

        <br />
    
        <button mat-stroked-button class="mr-2" type="submit" [disabled]="!countryForm.form.valid">Submit</button>
        <button mat-stroked-button color="warn" type="button" (click)="onReset()">Reset</button>
    </form>
</mat-card>