/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-card {
    opacity: .65;
}

mat-select.form-control * {
    color: black;
}

.form-control mat-option {
    background-color: white !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: yellowgreen;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: yellowgreen;
}